<app-home></app-home>
<h1 >Company Registration</h1>
<form class="addcompany">
  <div class="left">
    <label for="companyCode">Company Code</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      name="companyCode"
      required
      #companyCode="ngModel"
      [(ngModel)]="company.companyCode"
    />

    <div
      *ngIf="
        !companyCode?.valid && (companyCode?.dirty || companyCode?.touched)
      "
      class="error"
    >
      <div *ngIf="companyCode.errors">
        <p style="color: red">Companycode is required</p>
      </div>
    </div>
  </div>
  <div class="left">
    <label for="companyName">Company Name</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      name="companyName"
      required
      #companyName="ngModel"
      [(ngModel)]="company.companyName"
    />
    <div
      *ngIf="
        !companyName?.valid && (companyName?.dirty || companyName?.touched)
      "
      class="error"
    >
      <div *ngIf="companyName.errors">
        <p style="color: red">Company name is required</p>
      </div>
    </div>
  </div>
  <div class="left">
    <label for="companyCEO">Company CEO</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      name="companyCEO"
      required
      #companyCEO="ngModel"
      [(ngModel)]="company.companyCEO"
    />
    <div
      *ngIf="!companyCEO?.valid && (companyCEO?.dirty || companyCEO?.touched)"
      class="error"
    >
      <div *ngIf="companyCEO.errors">
        <p style="color: red">Company CEO is required</p>
      </div>
    </div>
  </div>
  <div class="left">
    <label for="companyTurnOver">Company Turnover</label>
    <input
      style="width: 150px"
      type="number"
      class="form-control"
      placeholder="in crores"
      name="companyTurnOver"
      required
      min="10"
      #companyTurnOver="ngModel"
      [(ngModel)]="company.companyTurnOver"
    />
    <div
      *ngIf="
        !companyTurnOver?.valid &&
        (companyTurnOver?.dirty || companyTurnOver?.touched)
      "
      class="error"
    >
      <div *ngIf="companyCEO.errors">
        <p style="color: red">
          Company turn over is required . Should be grater than 10 cr
        </p>
      </div>
    </div>
  </div>
  <div class="left">
    <label for="companyWebsite">Company website</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      name="companyWebsite"
      required
      #companyWebsite="ngModel"
      [(ngModel)]="company.companyWebsite"
    />
    <div
      *ngIf="
        !companyWebsite?.valid &&
        (companyWebsite?.dirty || companyWebsite?.touched)
      "
      class="error"
    >
      <div *ngIf="companyCEO.errors">
        <p style="color: red">company website is required</p>
      </div>
    </div>
  </div>
  <div class="left">
    <label for="stockExchange" style="margin-top: 40px">Select Exchange </label>
    <select
      name="stockExchange"
      style="margin-left: 10px"
      [(ngModel)]="company.stockExchangeEnum"
    >
      <option name="stockExchange" [ngValue]="null">
        <h3>Select Exchange</h3>
      </option>
      <option *ngFor="let exchange of exchanges" [value]="exchange">
        {{ exchange }}
      </option>
    </select>
  </div>

<br />
<button type="submit" class="add-button btn btn-primary" (click)="addItems()">
  Add
</button>

<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col" style="display: none">Id</th> -->
      <th scope="col" >Stock Price</th>
      <th scope="col">Startdate</th>
      <!-- <th scope="col">Enddate</th> -->
    </tr>
  </thead>
  <tbody>
    <!-- debugger; -->
    <tr *ngFor="let stock of stockpricedetails; let i = index">
      <!-- <td style="display: none">{{ stock.index }}</td> -->
      <td>
        <input
          type="number"
          style="width: 100px"
          name="stockPrice"
          [(ngModel)]="stock.stockPrice"
        />
      </td>
      <td>
        <input
          type="datetime"
          style="width: 200px"
          name="startDate"
          [(ngModel)]="stock.startDate"
        />
      </td>
      <td>
        <button
          class="btn btn-primary"
          style="width: 100px"
          type="submit"
          (click)="removeItem(i)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  <button
    type="submit"
    style="margin-left: 350px"
    class="btn btn-primary"
    (click)="submit()"
  >
    Save
  </button>
  <button type="submit" style="margin-left: 50px"class="btn btn-primary" (click)="cancel()">
    Cancel
  </button>
</div>
</form>
