.addcompany
{

  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 80px;

}
.left{
  float:left;
  margin-right: 150px;
}
h1{
  padding-left: 30%;
}
.add-button
{

   /* margin-right: 150px; */
  margin-left: 1000px;

}
.table
{

  /* margin-right: 150px; */
  margin-left: 80px;
}
