<app-home></app-home>
<h1 style="align-content: center;">Company Registration</h1>
<form class="addcompany">
  <div class="left">
    From date:<input style="width: 200px" type="date" class="form-control" >
    To date:<input style="width: 200px" type="date" class="form-control" >
  </div>
    <div class="left">
    <label for="companycode">Company Code</label>
    <input style="width: 150px" type="text" class="form-control"  placeholder="companycode" name ="companycode" >
    </div>
    <div class="left">
      <label for="companyname">Company Name</label>
      <input style="width: 150px" type="text" class="form-control"  placeholder="companyname" name ="companyname"  >
      </div>
</form>
<br>
<button type="submit" class="add-button btn btn-primary" >Add</button>

    <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col" style="display: none;">Id</th> -->
          <th scope="col">Stock Price</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody >
    <!-- debugger; -->
        <tr >

          <td><input type="number" style="width: 100px" name="person.age" ></td>
          <td><input type="text" style="width: 200px" name="person.name" ></td>
          <td><input type="text" style="width: 200px" name="person.name" ></td>
        </tr>
      </tbody >
    </table>




