<app-home></app-home>
<h1 style="align-content: center">Company Registration</h1>
<form class="addcompany">
  <div class="left">
    <label for="companyCode">Company Code</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      placeholder="companyCode"
      name="companyCode"
      [(ngModel)]="company.companyCode"
    />
  </div>
  <div class="left">
    <label for="companyName">Company Name</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      placeholder="companyName"
      name="companyName"
      [(ngModel)]="company.companyName"
    />
  </div>
  <div class="left">
    <label for="companyCEO">Company CEO</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      placeholder="companyCEO"
      name="companyCEO"
      [(ngModel)]="company.companyCEO"
    />
  </div>
  <div class="left">
    <label for="companyTurnOver">Company Turnover</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      placeholder="companyturnover"
      name="companyTurnOver"
      [(ngModel)]="company.companyTurnOver"
    />
  </div>
  <div class="left">
    <label for="companyWebsite">Company website</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      placeholder="companyWebsite"
      name="companyWebsite"
      [(ngModel)]="company.companyWebsite"
    />
  </div>
  <div class="left">
    <label for="stockExchangeEnum">Stock Exchange</label>
    <input
      style="width: 150px"
      type="text"
      class="form-control"
      placeholder="stockExchangeEnum"
      name="stockExchangeEnum"
      [(ngModel)]="company.stockExchangeEnum"
    />
  </div>
</form>
<br />
<button type="submit" class="add-button btn btn-primary" (click)="addItems()">
  Add
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col" style="display: none">Id</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Startdate</th>
      <!-- <th scope="col">Enddate</th> -->
    </tr>
  </thead>
  <tbody>
    <!-- debugger; -->
    <tr *ngFor="let stock of stockpricedetails; let i = index">
      <td style="display: none">{{ stock.index }}</td>
      <td>
        <input
          type="number"
          style="width: 100px"
          name="stockPrice"
          [(ngModel)]="stock.stockPrice"
        />
      </td>
      <td>
        <input
          type="datetime"
          style="width: 200px"
          name="startDate"
          [(ngModel)]="stock.startDate"
        />
      </td>
      <td ><button class="btn btn-primary" type="submit" (click)="removeItem(i)">Delete</button></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-primary" (click)="submit()">Save</button>
<button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
