<app-home></app-home>

<form class="serachcompany">
  <div class="form-group">
    <label for="CompanyCode" style="margin-right: 10px"
      ><b> Company Code :</b></label
    >
    <select
      name="companyCode"
      [(ngModel)]="company.companyCode"
      (change)="changeCode($event.target)"
    >
      <option name="companyCode" [ngValue]="null">Select Company code</option>
      <option
        *ngFor="let option of companyList"
        [ngValue]="option.companyCode"
        [innerHtml]="option.companyCode"
      ></option>
    </select>
  </div>

  <div class="form-group">
    <label for="companyName" style="margin-right: 10px"
      ><b> Company Name :</b></label
    >
    <input type="text" name="companyName" [(ngModel)]="company.companyName" />
  </div>
  <div class="form-group">
    <label for="companyName" style="margin-right: 10px"><b> From :</b></label>
    <input
      type="date"
      name="startDate"
      style="margin-left: 30px"
      [(ngModel)]="startDate"
    />
    <input
      type="date"
      name="endDate"
      style="margin-left: 30px"
      [(ngModel)]="endDate"
    />
    <button
      type="submit"
      class="btn btn-primary"
      style="margin-left: 30px"
      (click)="searchStock(company.companyCode, startDate, endDate)"
    >
      Search Stock
    </button>
  </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Stock Price</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Delete</th>
      <!-- <th scope="col">Enddate</th> -->
    </tr>
  </thead>
  <tbody>
    <!-- debugger; -->
    <tr *ngFor="let stock of stockpricedetails; let i = index">
      <td>
        {{ stock.stockPrice }}
      </td>
      <td>
        {{ stock.startDate| date :'dd/MM/YYYY' }}
      </td>
      <td>
        {{ stock.startDate|date: 'h:mm a'}}
      </td>
      <td>
        <button
          class="btn btn-primary"
          type="submit"
          (click)="removeItem(stock.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
</form>
